<div class="nav-container">
    <div class="wrapper">
      <nav>
        <div class="website-name">
          <a routerLink="/dashboard">Assignments</a>
        </div>

        <ul class="nav-items">
          <li>
            <a routerLink="/dashboard">Dashboard</a>
          </li>

          <li>
            <a routerLink="/classes">Classes</a>
          </li>

          <li>
            <a routerLink="/new-assignment">New</a>
          </li>
        </ul>
      </nav>
    </div>
</div>

<div class="assignments">
    <div class="wrapper">
        <body>
            <ul class="assignment-details">
                <li>
                    Name
                </li>
                <li>
                    Due Date
                </li>
                <li>
                    Difficulty
                </li>
                <li>
                    Classes
                </li>
            </ul>
            <div class="hl1"></div>
            <!-- <div class="vl1"></div>
            <div class="vl2"></div>
            <div class="vl3"></div>
            <div class="vl4"></div> -->
        </body>
    </div>
</div>
