<div class="nav-container">
    <div class="wrapper">
      <nav>
        <div class="website-name">
          <a routerLink="/dashboard">Assignments</a>
        </div>

        <ul class="nav-items">
          <li>
            <a routerLink="/dashboard">Dashboard</a>
          </li>

          <li>
            <a routerLink="/classes">Classes</a>
          </li>

          <li>
            <a routerLink="/new-assignment">New</a>
          </li>
        </ul>
      </nav>
    </div>
</div>

<!-- <nav mat-tab-nav-bar>
  <a mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.link"
  routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive">
 {{link.label}}
</a>
</nav> -->

<router-outlet></router-outlet>