/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
}
  
body {
    font-family: "Roboto", sans-serif;
}

/* Navigation Container */
.nav-container {
    background: #00AEF9;
    height: 80px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}

nav .website-name a{
    color: #FFFFFF;
    font-size: 50px;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

.nav-items li {
    list-style: none;
    margin-right: 100px;
}

.nav-items li a {
    color: #FFFFFF;
    font-size: 35px;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

/* Header */

.assignments {
    background-color: #FFFFFF;
    height: calc(100vh - 72px);
}


.assignment-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 70px;
    margin-top: 20px;
}

.assignment-details li {
    color: #00AEF9;
    font-size: 35px;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    list-style: none;
}


/* grid */
.grid {
    position: absolute;
}

/* .vl1 {
    border-left: 6px solid #00AEF9;
    height: 575px;
} */

.hl1 {
    border-top: 6px solid #00AEF9;
    margin-top: 20px;
    width: 1200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}